body:before{
	position: absolute;
	content: "";
	display: block;
	width: 1200px;
    height: 800px;
	background:#018DED url(../img/paper.jpg);
	background-size:auto;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}

body{  
	  display: flex;    
      font-family:'helvetica neue';
      font-size: 10px;
      margin: 0;
      min-height: 100vh;
	  align-items: center;
}

.clock{
	z-index: 2;
	position: relative;
	margin: 100px auto;
	padding: 2rem;
	width: 20rem;
	height: 20rem;
	border: 15px solid #f0f5ff;
	border-radius: 50%;
	box-shadow:  0 0 0 4px rgba(0,0,0,0.1),
				 inset 0 0 10px black,
				 inset 0 0 0 4px #f1f5ff,
				 0 0 10px rgba(0,0,0,0.2);
}

.clock-face{
	position: relative;
	width: 100%;
	height: 100%;
	/*background: #000;*/
}

.dot{
	z-index: 5;
	position: absolute;
	width: 20px;
	height: 20px;
	background: #0b173a;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
}

.hand{
	position: absolute;
	width: 180px;
	height: 8px;
	background: #0b173a;
	padding: 0;
	margin-top: -4px;
	top: 50%;
	transform-origin: 160px 4px;
	-webkit-tansform: rotate(90deg);
			transform: rotate(90deg); 
	transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand{
	width: 140px;
	left: 40px;
	transform-origin: 120px 4px;
}

.min-hand{
	width: 160px;
	left: 20px;
	transform-origin: 140px 4px;
}